<!doctype html>
<html>
  <head>
    <title>Bespin Tutorial</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/app.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand logo">Bespin Tutorial</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div id="js-app" class="app container-fluid">
        <div class="row">
            <div id="js-accounts" class="col-md-6"></div>
            <div id="js-account" class="col-md-6"></div>
        </div>
    </div>

      <script type="text/template" id="accounts-tmpl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Accounts</h3>
        </div>
        <div class="panel-body">
            <ul class='js-accounts-list list-group'></ul>
        </div>
    </div>
</script>

    <script type="text/template" id="account-item-tmpl">
        <a href="#accounts/<%= uuid %>">
            <span class="name"><%= name %></span>
             <span class="location"><%= location %></span>
        </a>
    </script>
    <script type="text/template" id="account-tmpl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Account: <%= name %></h3>
            </div>
            <div class="panel-body">
                <ul class='js-account-param-list list-group'></ul>
            </div>
        </div>
    </script>
    <script type="text/template" id="account-param-tmpl">
        <li class="list-group-item">
            <span class="key"><%= key %></span>:
             <span class="value"><%= value %></span>
        </li>
    </script>
   <div id="js-app2" class="app container-fluid">
        <div class="row">
            <div id="js-vms" class="col-md-6"></div>
            <div id="js-vm" class="col-md-6"></div>
        </div>
    </div>

<script type="text/template" id="vms-tmpl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Virtual Machines</h3>
        </div>
        <div class="panel-body">
            <ul class='js-vms-list list-group'></ul>
        </div>
    </div>
</script>

    <script type="text/template" id="vm-item-tmpl">
        <a href="#accounts/<%= account_uuid %>/vms/<%= uuid %>">
            <span class="name"><%= account_name %></span>
             <span class="status"><%= extra.status %></span>
        </a>
    </script>
    <script type="text/template" id="vm-tmpl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Account: <%= account_name %></h3>
            </div>
            <div class="panel-body">
                <ul class='js-vm-param-list list-group'></ul>
            </div>
        </div>
    </script>
    <script type="text/template" id="vm-param-tmpl">
        <li class="list-group-item">
            <span class="key"><%= key %></span>:
             <span class="value"><%= value %></span>
        </li>

    </script>

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/backbone/backbone.js"></script>
    <script src="app.js"></script>
  </body>
</html>
